.loader {
    background-color: #FFF;
    position: fixed;
    inset: 0;
    height: 100vh;
    z-index: 1;
    opacity: 0.9;
    animation: fadeOut 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    i {
        position: absolute;
        color: darken($primary-color, 30%);
        top: 50%;
        left: 48%;
    }
}

// Animation du loader
 @keyframes fadeOut {
     0% {
         opacity: 0.9;
     }

     50% {
        opacity: 0.9;
     }

     100% {
         opacity: 0;
         z-index: -1;
     }
 }

// Animation d'apparition des éléments de la liste des menus
@keyframes menuAppear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// Animation de l'icône check des pages de menus
@keyframes spinCheck {
    0% {
        transform: rotate(359deg);
    }
    100% {
        transform: rotate(0deg);
    }
}