.loader {
    background-color: #FFF;
    position: fixed;
    inset: 0;
    height: 100vh;
    z-index: 1;
    opacity: 1;
    animation: loader 2s;
    animation-fill-mode: forwards;

    i {
        position: absolute;
        top: 50%;
        left: 48%;
    }
}

@keyframes loader{
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}