// Animation du loader
 @keyframes fadeOut {
    100% {
        opacity: 0;
        z-index: 0;
      }
 }

// Animation d'apparition des éléments de la liste des menus
@keyframes menuAppear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// Animation de l'icône check des pages de menus
@keyframes spinCheck {
    0% {
        transform: rotate(359deg);
    }
    100% {
        transform: rotate(0deg);
    }
}