@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body, h1, h3, h4, p, figure {
  margin: 0;
}

ol, ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn--gradient {
  border: 0;
  padding: 1.3rem 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: #FFF;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}
.btn--gradient:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

#header {
  padding: 2rem;
  position: relative;
  z-index: 1000;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}

#location {
  background-color: #EAEAEA;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

#search {
  background-color: #F7F7F7;
  text-align: center;
  padding: 2.5rem 1rem;
}
#search h2 {
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: 900;
}
#search p {
  font-size: 1.2rem;
  margin-bottom: 2.8rem;
}

body {
  counter-reset: order;
  scroll-behavior: smooth;
}

.container {
  max-width: 68rem;
  margin: auto;
}

.specs {
  padding: 2.5rem 1rem;
}
@media (min-width: 992px) {
  .specs__list {
    display: flex;
    gap: 1.5rem;
  }
}
.specs__item {
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
  font-weight: bold;
  position: relative;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
@media (min-width: 992px) {
  .specs__item {
    flex: 1;
    margin-bottom: 0;
  }
}
.specs__item i {
  width: 16px;
  font-size: 1rem;
  margin-right: 1rem;
  color: #7F7F7F;
}
.specs__item:hover {
  background-color: white;
}
.specs__item:hover i {
  color: #9356DC;
}
.specs__item:active {
  background-color: white;
}
.specs__item:active i {
  color: #9356DC;
}
.specs__item:hover {
  background-color: #F4EDFE;
}
.specs__item:before {
  content: counter(order) "";
  counter-increment: order;
  color: #FFF;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 100px;
  position: absolute;
  left: -0.5rem;
}

.cards {
  background-color: #F7F7F7;
  padding: 2.5rem 1rem;
}
.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 768px) {
  .cards__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cards__wrapper a .card {
  border-radius: 1rem;
  height: 15rem;
  position: relative;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.cards__wrapper a .card__img {
  width: 100%;
  height: 70%;
  border-radius: 1rem 1rem 0 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.cards__wrapper a .card .new {
  background-color: #99E2D0;
  border-radius: 0.2rem;
  color: #278870;
  padding: 0.5rem 1rem;
  place-content: center;
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 2rem;
}
.cards__wrapper a .card__desc {
  background-color: #FFF;
  height: 30%;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0.8rem;
  line-height: 1.2rem;
  position: relative;
}
.cards__wrapper a .card__desc i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.previous {
  position: absolute;
  left: 2rem;
  top: 40%;
}

.banner {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.container-menu {
  background-color: #f7f7f7;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -2.5rem;
  position: relative;
}
.container-menu .validate {
  height: 20vh;
  display: flex;
  place-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}
.container-menu .title {
  display: flex;
  position: relative;
  padding: 2rem;
  align-content: center;
}
.container-menu .title h2 {
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  margin: 0;
}
.container-menu .title i {
  position: absolute;
  right: 3rem;
  top: 50%;
}
.container-menu .menu {
  padding: 0 2rem 3rem 2rem;
}
.container-menu .menu h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.container-menu .menu h3:after {
  content: "";
  border-bottom: 3px solid #99E2D0;
  width: 2.5rem;
  display: block;
  margin-top: 0.3rem;
}
.container-menu .menu__wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-menu .menu__item {
  background-color: #FFF;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
.container-menu .menu__item h4 {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}
.container-menu .menu__item--flex {
  display: flex;
  justify-content: space-between;
}
.container-menu .menu__item--flex .meal-desc {
  font-size: 1rem;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-menu .menu__item--flex .price {
  font-weight: bold;
  margin-right: 0.5rem;
}

.footer {
  background-color: #353535;
  color: #FFF;
  padding: 2.5rem 1rem;
}
.footer h2 {
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  margin-top: 0;
}
.footer__menu {
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .footer__menu {
    display: flex;
    gap: 3.6rem;
  }
}
.footer__item {
  margin-bottom: 0.3rem;
}
.footer__item i {
  width: 12px;
  font-size: 0.8rem;
  margin-right: 0.8rem;
}/*# sourceMappingURL=style.css.map */