@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 0.5;
  }
  95% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 0.5;
  }
  95% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes menuAppear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menuAppear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes spinCheck {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes spinCheck {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

body, h1, h3, h4, p, figure {
  margin: 0;
}

ol, ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn--gradient {
  border: 0;
  padding: 1.3rem 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: #FFF;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
}
.btn--gradient:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  opacity: 0.9;
}

#header {
  padding: 2rem;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}

body {
  font-family: "Roboto", sans-serif;
  counter-reset: order;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.loader {
  background-color: #FFF;
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 1;
  opacity: 1;
  -webkit-animation: fadeOut 3s;
          animation: fadeOut 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.loader i {
  position: absolute;
  color: #481a7f;
  top: 50%;
  left: 48%;
}

#location {
  background-color: #EAEAEA;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

#search {
  background-color: #F7F7F7;
  text-align: center;
  padding: 2.5rem 1rem;
}
#search h2 {
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: 900;
}
#search p {
  font-size: 1.2rem;
  margin-bottom: 2.8rem;
}

.specs {
  padding: 2.5rem 1rem;
}
@media (min-width: 992px) {
  .specs__list {
    display: flex;
    gap: 1.5rem;
  }
}
.specs__item {
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
  font-weight: bold;
  position: relative;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
@media (min-width: 992px) {
  .specs__item {
    flex: 1;
    margin-bottom: 0;
  }
}
.specs__item i {
  width: 16px;
  font-size: 1rem;
  margin-right: 1rem;
  color: #7F7F7F;
}
.specs__item:hover {
  background-color: white;
}
.specs__item:hover i {
  color: #9356DC;
}
.specs__item:active {
  background-color: white;
}
.specs__item:active i {
  color: #9356DC;
}
.specs__item:hover {
  background-color: #F4EDFE;
}
.specs__item:before {
  content: counter(order) "";
  counter-increment: order;
  color: #FFF;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 100px;
  position: absolute;
  left: -0.5rem;
}

.cards {
  background-color: #F7F7F7;
  padding: 2.5rem 1rem;
}
.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 768px) {
  .cards__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cards__wrapper .card {
  border-radius: 1rem;
  height: 15rem;
  position: relative;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.cards__wrapper .card__img {
  width: 100%;
  height: 70%;
  border-radius: 1rem 1rem 0 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.cards__wrapper .card__new {
  background-color: #99E2D0;
  border-radius: 0.2rem;
  color: #278870;
  padding: 0.5rem 1rem;
  place-content: center;
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 2rem;
}
.cards__wrapper .card__desc {
  background-color: #FFF;
  height: 30%;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0.8rem;
  line-height: 1.2rem;
  position: relative;
}
.cards__wrapper .card__desc h3 {
  margin: -0.2rem 0 0.4rem 0;
}
.cards__wrapper .card__desc i:before {
  cursor: pointer;
  content: "\f004";
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transform: translateY(-50%);
}
.cards__wrapper .card__desc i:after {
  cursor: pointer;
  content: "\f004";
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transform: translateY(-50%);
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  font-weight: 900;
  line-height: 1;
  transition: all 300ms ease-in-out;
}
.cards__wrapper .card__desc i:hover::after {
  opacity: 1;
}

.previous {
  position: absolute;
  left: 2rem;
  top: 40%;
}

.banner {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.container-menu {
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
  position: relative;
  background-color: #F7f7f7;
}
.container-menu .validate {
  display: flex;
  place-content: center;
  align-items: center;
}

.title, .menu {
  padding: 2.5rem 1rem;
}

.title {
  display: flex;
  position: relative;
  align-content: center;
}
.title h2 {
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  margin: 0;
}
.title i:before {
  cursor: pointer;
  content: "\f004";
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transform: translateY(-50%);
}
.title i:after {
  cursor: pointer;
  content: "\f004";
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transform: translateY(-50%);
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  font-weight: 900;
  line-height: 1;
  transition: all 300ms ease-in-out;
}
.title i:hover::after {
  opacity: 1;
}

.menu {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.menu h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.menu h3:after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  margin-top: 0.3rem;
  width: 2.5rem;
}
.menu__list {
  max-width: 100%;
  min-width: 0;
}
.menu__item {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  background-color: #FFF;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
}
.menu__item:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.menu__item:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu__item:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.menu__item:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu__item:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menu__item .content, .menu__item .price {
  padding: 1rem;
}
.menu__item .content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__item .content h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__item .content p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__item .price {
  margin-left: auto;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.menu__item .selec {
  width: 4rem;
  background-color: #99E2D0;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -4rem;
  transition: margin-right 0.5s;
}
.menu__item:hover .selec {
  margin-right: 0;
}
.menu__item:hover .selec i {
  -webkit-animation: spinCheck 0.5s;
          animation: spinCheck 0.5s;
}

.footer {
  background-color: #353535;
  color: #FFF;
  padding: 2.5rem 1rem;
}
.footer h2 {
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  margin-top: 0;
}
.footer__menu {
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .footer__menu {
    display: flex;
    gap: 3.6rem;
  }
}
.footer__item {
  margin-bottom: 0.3rem;
}
.footer__item i {
  width: 12px;
  font-size: 0.8rem;
  margin-right: 0.8rem;
}/*# sourceMappingURL=style.css.map */