.footer {
    background-color: #353535;
    color: #FFF;
    @include general-padding;

    h2 {
        font-size: 1.5rem;
        font-family: 'Shrikhand', cursive;
        margin-top: 0;
    }

    &__menu {
        font-size: 1.1rem;

        @media (min-width: 768px) {
            display: flex;
            gap: 3.6rem;
        }
    }

    &__item {
        margin-bottom: 0.3rem;

        i {
            width: 12px;
            font-size: 0.8rem;
            margin-right: 0.8rem;
        }
    }
}