#header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 1.5rem;
    height: 20vm;
    position: relative;

    &__logo {
        font-size: 2.5rem;
    }
}