#location {
    background-color: #EAEAEA;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}