#location {
    background-color: #EAEAEA;
    padding: 0.4rem;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
}