.previous {
    position: absolute;
    left: 2rem;
    top: 40%;
}

.banner {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.container__menu {
    border-radius: 2rem 2rem 0 0;
    margin-top: -2rem;
    position: relative;
    background-color: #F7f7f7;
}

.menu__btn {
    height: 20vh;
    display: flex;
    place-content: center;
    align-items: center;
}

.title {
    display: flex;
    position: relative;
    align-content: center;
    @include general-padding;
    
    h2 {
        font-size: 1.5rem;
        font-family: 'Shrikhand', cursive;
        margin: 0;
    }
    
    i {
        position: absolute;
        right: 3rem;
        top: 50%;
    }
}

.menu {
    @include general-padding;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    h3 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
        
        &:after {
            content: "";
            display: block;
            border-bottom: 3px solid $terciary-color;
            margin-top: 0.3rem;
            width: 2.5rem;
        }
    }    
}

.menu__item {
    cursor: pointer;
    background-color: #FFF;
    border-radius: 1rem;
    //padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    animation: menuAppear 1s;
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
    }
    @include box-shadow;
    
    h4 {
        font-size: 1.1rem;
        margin-bottom: 0.2rem;
    }

    &--col {
        flex-direction: column;
        padding: 0.8rem 1rem;
    }
    
    &--flex {
        display: flex;
        justify-content: space-between;
        
        .meal-desc {
            font-size: 1rem;
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .price {
            font-weight: bold;
            margin-right: 1rem;
            margin-top: 2.3rem;
        }
    }
    .meal-selec {
        background-color: $terciary-color;
        color: #FFF;
        border-radius: 0 1rem 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        margin-right: -5rem;
        width: 4rem;
        height: 4.3rem;
        padding: 0;
        transition: all 0.5s;
    }

    &:hover .meal-selec {
        margin-left: 0;
        margin-right: 0;

        i {
            animation: spinCheck 0.5s;
        }
    }
}           