#search {
    background-color: $search-background;
    text-align: center;
    padding: 2rem 0 6rem 0;

    h2 {
        font-size: 2rem;
        font-weight: 900;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 2.8rem;
    }
}