#search {
    background-color: $search-background;
    text-align: center;
    padding: 3rem 2rem 5rem 2rem;

    h2 {
        margin-top: 0;
        font-size: 1.7rem;
        font-weight: 900;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 2.8rem;
    }
}