.btn--gradient {
    border: 0;
    padding: 1.3rem 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    color: #FFF;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    transition: transform 200ms;
    @include gradient;

    &:hover {
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);
        transform: scale(1.02);
        opacity: 0.9;
    }
}